

.modal-column {
    height: 70vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr 30px;
    overflow: hidden;
}



/*relevant code down here */ 

.image-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    overflow-y: scroll;
}

.container {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 30px;
    overflow: hidden;
}

.body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow: hidden;
}

